*{
    font-family: "Comic Sans", sans-serif;
}

/*recipes*/
h1{
    font-size:100px;
    text-align: center;
}

h2 {
    font-size:45px;
}

p,
li,
ol {
    font-size: 18px;
}




.description{
    font-size: 25px;
}

#recipe_note{
    font-size: 35px;
}

/* for main page */

h1.main{
    color: red;
    font-size: 150px;
    text-align: center;
}

ol.main{
    text-align: center;
    font-size:50px;
}

img {
    height: auto;
    width: 500px;
}